<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header class="bloque-titulo">
        <h1 name="titulo" id="titulo">Ingreso</h1>
    </header>

    <form class="formulario__login" id="formulario__login" action="/login" method="post">
        <!-- Grupo Email -->
        <div class="formulario__login-grupo" id="grupo__login-email">
            <label for="login-campo-email" class="formulario__login-label">E-mail</label>
            <div class="formulario__login-grupo-input" >
                <input type="email" name="login-campo-email" id="login-campo-email" class="formulario__login-input">
            </div>
            
        </div><!-- Grupo password -->
        <div class="formulario__login-grupo" id="grupo__login-contrasena">
            <label for="login-campo-contrasena" class="formulario__login-label">Contraseña</label>
            <div class="formulario__login-grupo-input">
                <input type="password" name="login-campo-contrasena" id="login-campo-contrasena" class="formulario__login-input">
            </div>
        </div>
        <div class="formulario__login-mensaje" id="formulario__login-mensaje">
            <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error:</b> El usuario o contraseña es inválido o no existe</p>
        </div>

        <input type="submit" value="Ingresar" name="btn-ingresar" id="btn-ingresar" class="btn-ingresar">        
    </form>
    <button name="btn-cancelar" id="btn-cancelar">Cancelar</button>

</body>