#btn-login,#btn-registro{
    display: none;
}

#btn-inicio{
    position:relative;
    right: 40%;
}

#btn-cs{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 0,0.5);
    border-radius: 45%;
    margin-left: 10%;
    margin-right: 10%;
    cursor:pointer;
    position:absolute;
    top:33px;
    right:10%;
}

#btn-cs:hover{
    background-color: yellow;
}

.perfil__titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(3, 180, 12);
    text-shadow: -2px 2px 1px darkblue;
    background-color: rgba(0, 4, 255, 0.1);
    width: 50%;
    border-radius: 80%;
    margin-left: 20%;
    padding: 5%;
}

.perfil__titulo:hover{
    color:rgb(0, 255, 21);
}

.btn-perfil{
    display: none;
}

.btn-inicio{
    margin-right: 320px;
}


.contenido-perfil{
    display: grid;
    position: absolute;
    left:35%;
    text-shadow: 2px 2px 2px black;
}

.contenedor-juegos-perfil{
    width:500px;
    
}

.bloque-juego-perfil{
    border-style:solid;
    border-color: rgba(0, 225, 255, 0.3);
    border-radius: 5%;
    margin-bottom: 50px;
    display:inline;
}

.juego-perfil, .estado-perfil, .valoracion-perfil, .comentario-perfil{
    margin: 0;
    margin-bottom: 10px;
    border-style: groove;
    border-color: rgba(0, 0, 255,0.3);
    background-color: rgba(17, 0, 255, 0.1);
}

.estado-perfil{
    background-color: rgba(17, 0, 255, 0.2);
}
.estado-perfil-oculto{
    display: none;
}

.valoracion-perfil{
    background-color: rgba(38, 0, 255, 0.3);
}
.valoracion-perfil-oculto{
    display: none;
}

.comentario-perfil{
    background-color: rgba(0, 47, 255, 0.4);
}
.comentario-perfil-oculto{
    display: none;
}



.formulario__estado-perfil, .formulario__valoracion-perfil, .formulario__comentario-perfil, .btn-confirmar-perfil, .btn-cancelar-perfil, .formulario__etiqueta-estado,.formulario__etiqueta-valoracion,.formulario__etiqueta-comentario{
    display: none;
}
.formulario__estado-perfil-activo, .formulario__valoracion-perfil-activo, .formulario__comentario-perfil-activo, .btn-confirmar-perfil-activo, .btn-cancelar-perfil-activo, .formulario__etiqueta-estado-activo, .formulario__etiqueta-valoracion-activo,.formulario__etiqueta-comentario-activo{
    display: block;
    margin: auto;
}

.btn-editar-perfil, .btn-eliminar-perfil{
    display: inline;
    position:sticky;
}

.btn-editar-perfil-oculto, .btn-eliminar-perfil-oculto{
    display: none;
}